@media (max-width: 1299.98px) {
}

@media (min-width: 1200px) {
}

/* col-xl */
@media (max-width: 1199.98px) {
}

@media (min-width: 1024px) {
}

/* col-xl */
@media (max-width: 1023.98px) {
}

/* col-lg */
@media (max-width: 991.98px) {
}

@media (max-width: 867.98px) {
}

@media (min-width: 767.98px) {
}

/* col-md */
@media (max-width: 767.98px) {
  .app_home_page {
    display: block;
  }

  .app_time_btn_con p {
    font-size: 12px;
  }

  .about_page_first_content,
  .about_page_second_content {
    max-width: 100%;
  }

  .about_page_first_content h2 {
    font-size: 48px;
    line-height: 50px;
  }

  .about_page_third_content {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 600px) {
}

/* col-sm */
@media (max-width: 575.98px) {
  .about_page_second_content p {
    font-size: 20px;
    line-height: 22px;
  }
}

/* col-sm */
@media (max-width: 375.98px) {
}

@media (max-width: 299.98px) {
}
