.h1 {
  font-size: 96px;
  font-weight: 600;
  font-family: 'DM Sans', sans-serif;
}

.h3 {
  font-size: 48px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
}

.h5 {
  font-size: 12px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
}

.p {
  font-size: 14px;
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
}
